.login-body {
  font-family: Arial, sans-serif;
  background-color: #e9eff1; /* Light blue background */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  background-color: #fff; /* White background for the container */
  width: 1000px;
  height: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #007bff; /* Blue border */
}

.left-panel {
  width: 40%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #007bff; /* Blue background */
  color: #fff; /* White text color */
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff; /* White logo text */
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
}

.login-form h2,
.register-form h2 {
  margin-bottom: 10px;
  font-weight: normal;
  color: #fff; /* White heading text */
}

.forgot-password,
.log-in,
.sign-up {
  margin-bottom: 20px;
  color: #d0d0d0; /* Light gray text color */
  text-decoration: none;
  font-size: 14px;
}

.forgot-password {
  color: #d0d0d0; /* Light gray for 'Forgot your password?' link */
}

.login-form form,
.register-form form {
  display: flex;
  flex-direction: column;
}

.login-form input,
.register-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f8f9fa; /* Light gray background for inputs */
  color: #333; /* Dark text color for inputs */
}

.login-form input::placeholder,
.register-form input::placeholder {
  color: #888; /* Placeholder text color */
}

.login-form button,
.register-form button {
  padding: 10px;
  background-color: #007bff; /* Blue button background */
  color: #fff; /* White button text */
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.login-form button:hover,
.register-form button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.right-panel {
  width: 60%;
  background-color: #f1f1f1; /* Light gray background */
  color: #333; /* Dark text color */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.right-panel img {
  max-width: 100%;
  margin-bottom: 20px;
}

.right-panel p {
  font-size: 18px;
  color: #007bff; /* Blue text color */
}
