.login-body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  background-color: #fff;
  width: 1000px;
  height: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid gold;
}

.left-panel {
  width: 40%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1a1a1a;
  color: gold;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: gold;
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
}

.login-form h2,
.register-form h2 {
  margin-bottom: 10px;
  font-weight: normal;
  color: gold;
}

.forgot-password,
.log-in,
.sign-up {
  margin-bottom: 20px;
  color: #aaa;
  text-decoration: none;
  font-size: 14px;
  color: gold;
}

.login-form form,
.register-form form {
  display: flex;
  flex-direction: column;
}

.login-form input,
.register-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #333;
  color: gold;
}

.login-form input::placeholder,
.register-form input::placeholder {
  color: #999;
}

.login-form button,
.register-form button {
  padding: 10px;
  background-color: gold;
  color: #1a1a1a;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.login-form button:hover,
.register-form button:hover {
  background-color: #e6b800;
}

.right-panel {
  width: 60%;
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.right-panel img {
  max-width: 100%;
  margin-bottom: 20px;
}

.right-panel p {
  font-size: 18px;
  color: gold;
}
