.register-body {
  font-family: Arial, sans-serif;
  background-color: #e9eff1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.authcontainer {
  display: flex;
  background-color: #fff;
  width: 1000px;
  height: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #007bff;
}

.left-panel {
  width: 40%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #007bff;
  color: #fff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-form h2 {
  margin-bottom: 10px;
  font-weight: normal;
  color: #fff;
}

.log-in {
  margin-bottom: 20px;
  color: #0b34d7;
  text-decoration: underline;
  font-size: 14px;
}

.register-form form {
  display: flex;
  flex-direction: column;
}

.register-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f8f9fa;
  color: #333;
}

.register-form input::placeholder {
  color: #888;
}

.register-form button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.register-form button:hover {
  background-color: #0056b3;
}

.right-panel {
  width: 60%;
  background-color: #f1f1f1;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.right-panel img {
  max-width: 100%;
  margin-bottom: 20px;
}

.right-panel p {
  font-size: 18px;
  color: #0056b3;
}
.login-form p {
  color: white;
}
