.navbar-custom .profile-container {
  display: flex;
  align-items: center;
}

.navbar-custom .profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.navbar-custom .username {
  margin-right: 5px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}

.navbar-custom .dropdown-toggle::after {
  display: none;
}

.navbar-custom {
  background-color: #3498db;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
