.transaction-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #f4f6f8;
  padding: 20px;
}

.list-main-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.475);
  max-width: 800px;
  width: 100%;
}

h2 {
  color: #34495e;
  text-align: center;
}

.add-transaction-button {
  display: block;
  background-color: #3498db;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 20px;
  max-width: 200px;
  margin: 0 auto 20px auto; /* Center the button and add spacing */
}

.transaction-table-wrapper {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #2980b9;
  color: white;
}

tr:hover {
  background-color: #ecf0f1;
}

.update-button,
.delete-button {
  background-color: #3498db;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  margin-right: 5px;
}

.delete-button {
  background-color: #e74c3c;
}
